<div class="row-layout group">
  <igx-tabs [disableAnimation]="true" class="tabs">
    <igx-tab-item [selected]="true" class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
    </igx-tab-item>
  </igx-tabs>
</div>
<div class="row-layout group_1"></div>
